
<h2>TENANT</h2>
<div class="tenant-table-wrapper">
  <ui-table
    [columnHeaders]="headers"
    [maxHeight]="300"
    [scrollable]="false">
    <tr *ngFor="let tenant of tenants; index as i">
      <td (click)="setIsEdit(true); setEditTenant(tenant, i);">{{tenant.getName()}}
        <app-tenant-display-apps [tenantId]="tenant.getId()"></app-tenant-display-apps>
      </td>
      <td>{{tenant.getDescription()}}</td>
      <td>{{tenant.getStatus()}}</td>
    </tr>
  </ui-table>
</div>
<button [disabled]="!getIsEdit()" (click)="modalOpen = !modalOpen;">
  Edit {{getIsEdit() ? tempName: ''}}</button>

<button (click)="setIsEdit(false)">Cancel</button>

<modal-panel [open]="modalOpen" >
  <div *ngIf="getIsEdit()">
    <div class="modal-options">
      <label>Name: </label>
      <input class="edit-label" [(ngModel)]="tempName"><br>
    </div>
    <div class="modal-options">
      <label>Description: </label>
      <input class="edit-label" [(ngModel)]="tempDescription"><br>
    </div>
    <div class="modal-options">
      <label>Status: </label>
      <input class="edit-label" [(ngModel)]="tempStatus"><br>
    </div>
  </div>
  <br>
  <button (click)="saveEdit(); modalOpen=false; setIsEdit(false)">Save</button>
  <button (click)="cancelEdit(); modalOpen=false; setIsEdit(false)">Cancel</button>
</modal-panel>
