<page-header></page-header>
<div class="page-body">
  <h2>USERS</h2>
  <div class="table-wrapper">
    <ui-table
      [columnHeaders]="headers"
      [maxHeight]="500"
      [scrollable]="false"
      [paginated]="true"
      [perPage]="10">
      <tr *ngFor="let user of users; index as i">
        <td (click)="setIsEdit(true); setEditUser(user, i);">{{user.getFirstName()}}
        </td>
        <td>{{user.getLastName()}}</td>
        <td>{{user.getGroup()}}</td>
      </tr>
    </ui-table>
  </div>
  <button [disabled]="!getIsEdit()" (click)="modalOpen = !modalOpen;">
    Edit {{getIsEdit() ? tempFirstName: ''}}</button>

  <button (click)="setIsEdit(false)">Cancel</button>

  <modal-panel [open]="modalOpen" >
    <div *ngIf="getIsEdit()">
      <div class="modal-options">
        <label>Name: </label>
        <input class="edit-label" [(ngModel)]="tempFirstName"><br>
      </div>
      <div class="modal-options">
        <label>Description: </label>
        <input class="edit-label" [(ngModel)]="tempLastName"><br>
      </div>
      <div class="modal-options">
        <label>Status: </label>
        <input class="edit-label" [(ngModel)]="tempGroup"><br>
      </div>
    </div>
    <br>
    <button (click)="saveEdit(); modalOpen=false; setIsEdit(false)">Save</button>
    <button (click)="cancelEdit(); modalOpen=false; setIsEdit(false)">Cancel</button>
  </modal-panel>
</div>
