<page-header></page-header>
<div class="page-body">
  <h2>GROUP</h2>
  <div class="table-wrapper">
    <ui-table
      [columnHeaders]="headers"
      [maxHeight]="500"
      [scrollable]="false"
      [paginated]="true"
      [perPage]="10">
      <tr *ngFor="let group of groups; index as i">
        <td (click)="setIsEdit(true); setEditGroup(group, i);">{{group.getName()}}</td>
        <td>{{group.getTenant()}}</td>
        <td>{{group.getApp()}}</td>
      </tr>
    </ui-table>
  </div>
  <button [disabled]="!getIsEdit()" (click)="modalOpen = !modalOpen;">
    Edit {{getIsEdit() ? tempName: ''}}</button>

  <button (click)="setIsEdit(false)">Cancel</button>

  <modal-panel [open]="modalOpen" >
    <div *ngIf="getIsEdit()">
      <div class="modal-options">
        <label>Name: </label>
        <input class="edit-label" [(ngModel)]="tempName"><br>
      </div>
      <div class="modal-options">
        <label>Description: </label>
        <input class="edit-label" [(ngModel)]="tempTenant"><br>
      </div>
      <div class="modal-options">
        <label>Status: </label>
        <input class="edit-label" [(ngModel)]="tempApp"><br>
      </div>
    </div>
    <br>
    <button (click)="saveEdit(); modalOpen=false; setIsEdit(false)">Save</button>
    <button (click)="cancelEdit(); modalOpen=false; setIsEdit(false)">Cancel</button>
  </modal-panel>
</div>
