/* You can add global styles to this file, and also import other style files */
h2 {
  text-align: center;
}

h1 {
  color: #f8f8f8;
}

body {
  font-family: Arial;
  background-color: #F2F2F2 ;
  padding: 0px;
  margin: 0px;
}

.page-body {
  margin: 15px;
}

page-handler{
  margin:0px;
}

.page-header {
  height: 100px;
  width: 100%;
  margin: 0px;
  padding: 10px;
  background-color: #536ab3;
}

.tabNav__tabItem {
  border: 0px !important;
}

a:link {
  font-family: "Arial Black" !important;
  color: #90b6ff !important;
  text-decoration: solid;
  background-color: #536ab3;
  border-right: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
  border-bottom: 3px solid #F2F2F2;
}

a.active {
  color: #f8f8f8 !important;
  border-bottom: 3px solid #90b6ff;
}

a:visited{
  color: #90b6ff !important;
}

a:hover {
  color: #f8f8f8 !important;
  text-decoration: solid !important;
}

.table-header {
  background-color: #6495ed !important;
}

.table-container {
  border-radius: 4px;
  border: solid dimgrey 2px !important;
}

.table-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 66%;
  min-width: 440px;
}

button{
  background-color: #A8A8A8 ;
  border: 2px solid #A8A8A8;
  border-radius: 2px;
}
button:hover{
  background-color: #989898;
  border-color: #989898;
}

.display-button {
  float: right;
}

.edit-label {
  float: right;
}

.modal-options {
  margin: 6px;
}





